-# 参考デザインhttps://www.hotpepper.jp/　（スマホ)
.shopDetail_container
  .shopDetail_head
    .shopDetail-img_container
      - @shop.shopImages.each do |i|
        = image_tag i.image.url , class: "shopDetail_head_img"
    .shopDetail_fontOverPhoto
      %h1.shopTitle #{@shop.name}
      %p.shopDescription #{@shop.description}
    %p.shopImagePoint-l ←
    %p.shopImagePoint-r →
  .shopDetail_info
    %p ¥#{@shop.averagePrice}
    -# = link_to "#", class: "shopDetail_info-reviewLink" do
    -#   %p レビューを書く
    .businessHours
      %p 営業時間
      %p #{@shop.businessHoursStart} ~ #{@shop.businessHoursEnd}
  .shopDetail_surplusFood_title
    %p 余剰食品
  .shopDetail_surplusFood_item
    .shopDetail_surplusFood_item-block
      = image_tag @shop.items[0].itemImages[0].image.url, class: "shopDetail_surplusFood_item_img"
      %p.shopDetail_surplusFood_item-p #{@shop.items[0].name}
    .shopDetail_surplusFood_item-block
      = image_tag @shop.items[1].itemImages[0].image.url, class: "shopDetail_surplusFood_item_img"
      %p.shopDetail_surplusFood_item-p #{@shop.items[1].name}
  .shopDetail_surplusFood_btn
    = link_to items_path(@shop.id), class: "item_link" do
      %p 売れ残り商品一覧を見る　>
  .shopDetail_commitmentSpace
    .shopDetail_commitmentSpace_title
      %p こだわりの空間
    .shopDetail_commitmentSpace-photo
      .shopDetail_commitmentSpace-photo-block
        = image_tag @shop.commitmentSpaces[0].commitmentSpaceImages[0].image.url, class: "shopDetail_commitmentSpace-img"
        %p #{@shop.commitmentSpaces[0].content}
      .shopDetail_commitmentSpace-photo-block
        = image_tag @shop.commitmentSpaces[0].commitmentSpaceImages[1].image.url, class: "shopDetail_commitmentSpace-img"
        %p #{@shop.commitmentSpaces[1].content}
        -# 引用:https://www.hotpepper.jp/strJ000963294/
  .shopDetail_review
    .shopDetail_review_title
      %p 評価とレビュー
    .shopDetail_review-container
      %p 平均評価
      .shopDetail_review-container-stars
        %label.shopDetail-star{class: "#{'colored-star' if @shopAverageStar >= 1}"}
          ★
        %label.shopDetail-star{class: "#{'colored-star' if @shopAverageStar >= 2}"}
          ★
        %label.shopDetail-star{class: "#{'colored-star' if @shopAverageStar >= 3}"}
          ★
        %label.shopDetail-star{class: "#{'colored-star' if @shopAverageStar >= 4}"}
          ★
        %label.shopDetail-star{class: "#{'colored-star' if @shopAverageStar >= 5}"}
          ★
      - @shop.shopReviews.each do |re|
        .shopDetail_review-content
          .shopDetail_review-content-text
            %p #{re.review}
            .shopDetail_review-content-stars
              %label.shopDetail-star{class: "#{'colored-star' if re.reviewStar >= 1}"}
                ★
              %label.shopDetail-star{class: "#{'colored-star' if re.reviewStar >= 2}"}
                ★
              %label.shopDetail-star{class: "#{'colored-star' if re.reviewStar >= 3}"}
                ★
              %label.shopDetail-star{class: "#{'colored-star' if re.reviewStar >= 4}"}
                ★
              %label.shopDetail-star{class: "#{'colored-star' if re.reviewStar >= 5}"}
                ★
            %p.shopDetail_review-content-time #{re.created_at.strftime('%Y/%m/%d')}
          .shopDetail_review-content-reviewer
            -# TODO user実装したらテーブルから取得
