-# 参考デザインhttps://www.hotpepper.jp/　（スマホ)
.shopDetail_container
  .shopDetail_head
    = image_tag 'sampleShop1.jpg', class: "shopDetail_head_img"
    .shopDetail_fontOverPhoto
      %h1.shopTitle SampleShopName
      %p.shopDescription Sample Description
  .shopDetail_info
    %p ¥501 ~ 1000
    .businessHours
      %p 営業時間
      %p 16:00 ~ 19:00
  .shopDetail_surplusFood_title
    %p 余剰食品
  .shopDetail_surplusFood_item
    .shopDetail_surplusFood_item-block
      = image_tag 'タピオカ.jpg', class: "shopDetail_surplusFood_item_img", alt: "https://www.pakutaso.com/20190608168post-21369.html"
      %p.shopDetail_surplusFood_item-p Sample Food
    .shopDetail_surplusFood_item-block
      = image_tag '緑黄色野菜と果物のスムージーのフリー画像.jpg', alt: "https://www.pakutaso.com/20180243033post-15065.html", class: "shopDetail_surplusFood_item_img"
      %p.shopDetail_surplusFood_item-p Sample Food
  .shopDetail_surplusFood_btn
    %p 売れ残り商品一覧を見る　>
  .shopDetail_commitmentSpace
    .shopDetail_commitmentSpace_title
      %p こだわりの空間
    .shopDetail_commitmentSpace-photo
      .shopDetail_commitmentSpace-photo-block
        = image_tag 'sampleShop3.jpg', class: "shopDetail_commitmentSpace-img"
        %p 栄町店で大人気の誕生日会でパシャリ♪おいしい料理とオシャレな空間に包まれて、みんなでワイワイ楽しくおしゃべり☆かわいい猿の人形も乱入！ぜひ、一緒に可愛い猿の人形と写真を撮ってください！サプライズ演出も承ります。お気軽にご相談ください★ 
      .shopDetail_commitmentSpace-photo-block
        = image_tag 'sampleShop3.jpg', class: "shopDetail_commitmentSpace-img"
        %p 栄町店で大人気の誕生日会でパシャリ♪おいしい料理とオシャレな空間に包まれて、みんなでワイワイ楽しくおしゃべり☆かわいい猿の人形も乱入！ぜひ、一緒に可愛い猿の人形と写真を撮ってください！サプライズ演出も承ります。お気軽にご相談ください★
        -# 引用:https://www.hotpepper.jp/strJ000963294/