-# 参考デザインhttps://www.hotpepper.jp/　（スマホ)
.shopDetail_container
  .shopDetail_head
    .shopDetail-img_container
      - @shop.shopImages.each do |i|
        = image_tag i.image.url , class: "shopDetail_head_img"
    .shopDetail_fontOverPhoto
      %h1.shopTitle #{@shop.name}
      %p.shopDescription #{@shop.description}
    %p.shopImagePoint-l ←
    %p.shopImagePoint-r →
  .shopDetail_info
    %p ¥#{@shop.averagePrice}
    = link_to "#", class: "shopDetail_info-reviewLink" do
      %p レビューを書く
    .businessHours
      %p 営業時間
      %p #{@shop.businessHoursStart} ~ #{@shop.businessHoursEnd}
  .shopDetail_surplusFood_title
    %p 余剰食品
  .shopDetail_surplusFood_item
    .shopDetail_surplusFood_item-block
      = image_tag @shop.items[0].itemImages[0].image.url, class: "shopDetail_surplusFood_item_img"
      %p.shopDetail_surplusFood_item-p #{@shop.items[0].name}
    .shopDetail_surplusFood_item-block
      = image_tag @shop.items[1].itemImages[0].image.url, class: "shopDetail_surplusFood_item_img"
      %p.shopDetail_surplusFood_item-p #{@shop.items[1].name}
  .shopDetail_surplusFood_btn
    = link_to items_path(@shop.id), class: "item_link" do
      %p 売れ残り商品一覧を見る　>
  .shopDetail_commitmentSpace
    .shopDetail_commitmentSpace_title
      %p こだわりの空間
    .shopDetail_commitmentSpace-photo
      .shopDetail_commitmentSpace-photo-block
        = image_tag 'sampleShop3.jpg', class: "shopDetail_commitmentSpace-img"
        %p 栄町店で大人気の誕生日会でパシャリ♪おいしい料理とオシャレな空間に包まれて、みんなでワイワイ楽しくおしゃべり☆かわいい猿の人形も乱入！ぜひ、一緒に可愛い猿の人形と写真を撮ってください！サプライズ演出も承ります。お気軽にご相談ください★ 
      .shopDetail_commitmentSpace-photo-block
        = image_tag 'sampleShop3.jpg', class: "shopDetail_commitmentSpace-img"
        %p 栄町店で大人気の誕生日会でパシャリ♪おいしい料理とオシャレな空間に包まれて、みんなでワイワイ楽しくおしゃべり☆かわいい猿の人形も乱入！ぜひ、一緒に可愛い猿の人形と写真を撮ってください！サプライズ演出も承ります。お気軽にご相談ください★
        -# 引用:https://www.hotpepper.jp/strJ000963294/