.item_detail
  .item_detail_description
    .item_detail_img-container
      - @item.itemImages.each do |i|
        = image_tag i.image.url , class: "item_detail_img", alt: "https://www.pakutaso.com/20171221353post-14548.html"
    %p.itemImagePoint-l ←
    %p.itemImagePoint-r →
    %h1 #{@item.name}
    %p #{@item.description}
  .item_detail_shop
    %h2 #{@item.shop.name}
    %p #{@item.shop.adress}
    %a @item.shop.url
  .item_order
    = link_to purchases_path(@item.id), class: "item_link" do
      %p 注文する